
#title {
  color: #fff;
  text-align: left;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h2, h3, h6 {
  text-align: left;
}

img {
  width: 100%;
}

.colored-section {
  background-color: #00a73c;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

.big-heading {
  font-size: 3.5rem;
  line-height: 1.5;
  padding-top: 4.5rem;
}

.container-fluid {
  padding: 7% 15%;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

/* Navigation Bar */
.navbar {
  padding: 0 0;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

#comp {
  position: relative;
}

p {
  color: #8f8f8f;
}
